html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* чтобы изображение полностью заполняло контейнер */
}
.pole {
    position: absolute;
    width: 80%; /* Ширина прямоугольника */
    height: 26vh; /* Высота прямоугольника */
    margin-bottom: 40%;
    background:linear-gradient(45deg, rgba(255,255,204,0.3) , rgba(255,255,255,0.3));
}
.bg-pole {
    position: absolute;
    width: 90%; /* Ширина прямоугольника */
    height: 30vh; /* Высота прямоугольника */
    margin-bottom: 40%;
    background:linear-gradient(45deg, rgba(51,51,51,0.45) , rgba(102,153,102,0.45));
}
.but {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    outline: none;
}

.round-button {
    width: 11vh; /* Ширина кнопки */
    height: 11vh; /* Высота кнопки */
    border-radius: 50%; /* Радиус скругления, чтобы сделать кнопку круглой */
    background-color: #4CAF50; /* Цвет фона кнопки */
    border: none; /* Убираем границы */
    cursor: pointer; /* Изменяем курсор при наведении */
    overflow: hidden; /* Обрезаем содержимое, чтобы изображение не выходило за границы кнопки */
    position: absolute;
    margin-top: 70vh;
  
}

.round-button img {
    width: 11vh; /* Ширина изображения, чтобы оно занимало всю доступную площадь кнопки */
    height: auto; /* Автоматическое определение высоты изображения */
    display: block;
    position: absolute;
    
}
.round-button:active{
    filter: brightness(50%);
    
}
.round-button:focus {
    outline-color: transparent;
    outline-style: none;
}


.rounds-button {
    width: 8vh; /* Ширина кнопки */
    height: 8vh; /* Высота кнопки */
    border-radius: 50%; /* Радиус скругления, чтобы сделать кнопку круглой */
    background-color: #4CAF50; /* Цвет фона кнопки */
    border: none; /* Убираем границы */
    cursor: pointer; /* Изменяем курсор при наведении */
    overflow: hidden; /* Обрезаем содержимое, чтобы изображение не выходило за границы кнопки */
    position: absolute;
    margin-top: 60vh;
    margin-left: 20vh;
  
}

.rounds-button img {
    width: 8vh; /* Ширина изображения, чтобы оно занимало всю доступную площадь кнопки */
    height: auto; /* Автоматическое определение высоты изображения */
    display: block;
    position: absolute;
    
}
.rounds-button:active{
    filter: brightness(50%);
    
}
.rounds-button:focus {
    outline-color: transparent;
    outline-style: none;
}
.roundz-button {
    width: 8vh; /* Ширина кнопки */
    height: 8vh; /* Высота кнопки */
    border-radius: 50%; /* Радиус скругления, чтобы сделать кнопку круглой */
    background-color: #4CAF50; /* Цвет фона кнопки */
    border: none; /* Убираем границы */
    cursor: pointer; /* Изменяем курсор при наведении */
    overflow: hidden; /* Обрезаем содержимое, чтобы изображение не выходило за границы кнопки */
    position: absolute;
    margin-top: 60vh;
    margin-right: 20vh;
  
}

.roundz-button img {
    width: 8vh; /* Ширина изображения, чтобы оно занимало всю доступную площадь кнопки */
    height: auto; /* Автоматическое определение высоты изображения */
    display: block;
    position: absolute;
    
}
.roundz-button:active{
    filter: brightness(50%);
    
}
.roundz-button:focus {
    outline-color: transparent;
    outline-style: none;
}

.bet {
    position: absolute;
    width: 90%; /* Ширина прямоугольника */
    height: auto; /* Высота прямоугольника */
    margin-top: 90vh;
    
    
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    
}
p{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    }
.balance{
    text-align: left;
}
.betbalance{
    text-align: right;
}